@import "../SCSS/vars";

.admin-route{
  width:100%;
  height:auto;
  background:white;
  position: relative;
  margin:0 auto;
  .admin-container{

    ul{
      margin:0;
      padding:0;
      display: flex;
      flex-direction: row;
      position: absolute;
      width:100%;
      flex-wrap: wrap;

      @for $i from 1 through 11{
        > .action:nth-child(#{$i}){
          div{
            display: block;
            text-align: center;
          }
          @include mq('xxlg'){
            width:calc(100% /8);
          };
          @include mq('xlg'){
            width:calc(100% /6);
          };
          @include mq('lg'){
            width:calc(100% /4);
          };
          @include mq('md'){
            width:calc(100%);
          };
          @include mq('sm'){
            width:calc(100%);
          };


        }
      }
    }
  }
}
